<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
       
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight min-w-72">About Feedbackly</p></div>
            <p class="text-[#0d141c] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Feedbackly is dedicated to transforming how businesses gather and utilize customer feedback. Our mission is to empower companies to make data-driven decisions that
              enhance customer satisfaction and drive growth. We believe that every piece of feedback is an opportunity for improvement, and we strive to provide the tools and
              insights necessary to capitalize on these opportunities.
            </p>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Team</h2>
            <p class="text-[#0d141c] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Our team is composed of passionate individuals with diverse backgrounds in technology, customer experience, and business strategy. We are united by a common goal: to
              create a feedback platform that is both powerful and user-friendly. Meet some of our key team members:
            </p>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCA2grlVMUmSBk5yDhv-oofFp6ELu74zBJptKNngInzIAuVWSAnP4fhuDl_5JleKPnILZFFtnXHqk0fhuzhj7AlaQ9Psw6l6ADAAT9Li7ksIGHAym9K4VjwfkgMvxK57dU5BCmod46hbIqbjoacdxlApj72SxTjfRpz2BFcSioxdll6G7qcB_Vy1nymL_E2mnAJqAVeifHFoTgfxrpoqBmurHU5Y6fr5MZCmBgxQmj0yHSF3Av2AjIpJkCWqyfrcR25_KwrK7h3vf8");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0d141c] text-base font-medium leading-normal">Sarah Chen</p>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">CEO</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC7y3mQ-hdeQSZOszcTZDXL07ZS0CkUu6kOM14mevV7UP_fDF-avsB3GnXrOk6E-rTYkWIID-wmQPBhqJ7-bLDN5nmNtvSbQLuWJxuM6vVHd4h2hfDvxc4JW0RHoqhGlQSqo-zHdi-wUAjAP_k0NuXX45JnpMfTWHEzvqnmaZ9s-I9FZHjoV_Y2q-AyW1SlznFExr8D8dcSnsUG8MgLj7QjGpnNur03Ytva3O0jtJW25GxwBeCWUWzVvp34BeLPpIK6Ex0pEEqclME");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0d141c] text-base font-medium leading-normal">David Lee</p>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">CTO</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 text-center pb-3">
                <div class="px-4">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-full"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCb_qHmzqaVIZ5TMELaRGArvVCAcY-yVPDydgNuTdNFIqEy1Zu3k3RxobbXjfOj_SY7pWeVQjhwLQs7XBZrJud_4KVSsS99W0cbNipP8c68YAkhJoi6QzIZ6RWxr5qGdKfPR7JB47AcNZPpb1qjl5OZq9uPZpiMZDTvcKlimMxdzzmtYU4SUgDUrudgCgNHGa66g9msopCENo3tCfrHfJkMfbRJsuJgvKDqoS5q8O9YJyQ-DVEenV8CXHZCs6dxjDS3v8-r_O8BOqE");'
                  ></div>
                </div>
                <div>
                  <p class="text-[#0d141c] text-base font-medium leading-normal">Emily Rodriguez</p>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">Head of Product</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Values</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col">
                <div class="text-[#0d141c]" data-icon="Users" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0d141c] text-base font-bold leading-tight">Customer-Centric</h2>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">We prioritize the needs of our customers, ensuring our platform is intuitive and effective.</p>
                </div>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col">
                <div class="text-[#0d141c]" data-icon="ChartLine" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V48a8,8,0,0,1,16,0v94.37L90.73,98a8,8,0,0,1,10.07-.38l58.81,44.11L218.73,90a8,8,0,1,1,10.54,12l-64,56a8,8,0,0,1-10.07.38L96.39,114.29,40,163.63V200H224A8,8,0,0,1,232,208Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0d141c] text-base font-bold leading-tight">Data-Driven</h2>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">We leverage data to provide actionable insights, helping businesses make informed decisions.</p>
                </div>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#cedbe8] bg-slate-50 p-4 flex-col">
                <div class="text-[#0d141c]" data-icon="ShieldCheck" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M208,40H48A16,16,0,0,0,32,56v58.78c0,89.61,75.82,119.34,91,124.39a15.53,15.53,0,0,0,10,0c15.2-5.05,91-34.78,91-124.39V56A16,16,0,0,0,208,40Zm0,74.79c0,78.42-66.35,104.62-80,109.18-13.53-4.51-80-30.69-80-109.18V56H208ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.68l50.34-50.34a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col gap-1">
                  <h2 class="text-[#0d141c] text-base font-bold leading-tight">Integrity</h2>
                  <p class="text-[#49739c] text-sm font-normal leading-normal">We operate with transparency and honesty, building trust with our users.</p>
                </div>
              </div>
            </div>
            <p class="text-[#0d141c] text-base font-normal leading-normal pb-3 pt-1 px-4">
              At Feedbackly, we are committed to continuous improvement and innovation. We value feedback from our users and are always looking for ways to enhance our platform.
              Join us on our journey to revolutionize customer feedback and drive business success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
